<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:VS="http://schemas.microsoft.com/wix/VSExtension"
>
  <Fragment>
    <PropertyRef Id="VS90_SCHEMAS_DIR" />

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS90_SCHEMAS_DIR">
        <Component Id="dnoa.Intellisense" Guid="{8943581F-D07B-49f4-AF09-23541F7EB2F7}">
          <File Id="DotNetOpenAuth.xsd" Source="$(var.DropPath)\bin\DotNetOpenAuth.xsd"></File>
        </Component>
      </Directory>
    </DirectoryRef>

    <Feature Id="dnoa.Intellisense.VS2008" Title="Config File Intellisense" Level="1" AllowAdvertise="no"
             Description="Easy management of your .config files is made possible by this Intellisense file for DotNetOpenAuth">
      <Condition Level="1">
        VS90_SCHEMAS_DIR
      </Condition>
      <ComponentRef Id="dnoa.Intellisense"/>
    </Feature>
  </Fragment>
</Wix>