<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
>
  <Fragment>
    <DirectoryRef Id="DotNetOpenAuth.SamplesFolder">
      <Directory Id="DotNetOpenAuth.samplesFolder" Name="DotNetOpenAuth" />
    </DirectoryRef>

    <DirectoryRef Id="DotNetOpenAuth.samplesFolder" FileSource="$(var.OutputPath)\Samples\">
      <!-- Add samples here -->
    </DirectoryRef>

    <DirectoryRef Id="DNOASamplesMenuFolder">
      <Directory Id="DotNetOpenAuth.SamplesManuFolder" Name="DotNetOpenAuth"/>
    </DirectoryRef>
	
   <DirectoryRef Id="DNOASamplesMenuFolder">
      <!-- Component to remove the DNOA Samples menu folder on uninstall (if empty) -->
      <Component Id="dnoa.MainSamplesMenuFolder.RemoveFolder" Guid="{EE479FBC-6C56-47c7-9502-2BF5A4A74965}">
        <RemoveFolder Id="dnoa.MainSamplesMenuFolder.RemoveFolder" On="uninstall" />
        <RegistryKey Action="none" Root="HKCU" Key="Software\dotnetopenauth.net\$(var.ProductName)\$(var.BuildVersion)">
          <RegistryValue Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DotNetOpenAuth.SamplesManuFolder">
      <Component Id="dnoa.SamplesManuFolder.RemoveFolder" Guid="{844F5E76-BC51-4ff7-8DEB-F18EB004E955}">
        <RemoveFolder Id="dnoa.SamplesManuFolder.RemoveFolder" On="uninstall" />
        <RegistryKey Action="none" Root="HKCU" Key="Software\dotnetopenauth.net\$(var.ProductName)\$(var.BuildVersion)">
          <RegistryValue Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id="DotNetOpenAuth.Samples" Title="DotNetOpenAuth Samples" Level="1" AllowAdvertise="no"
             Description="Installs DotNetOpenAuth code samples.">
      <ComponentRef Id="dnoa.MainSamplesMenuFolder.RemoveFolder"/>
      <ComponentRef Id="dnoa.SamplesManuFolder.RemoveFolder"/>
    </Feature>
  </Fragment>
</Wix>