<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Property Id="dnoa.InstallURL">http://www.dotnetopenauth.net/d/install?version=$(var.BuildVersion)</Property>
    <Property Id="dnoa.UninstallURL">http://www.dotnetopenauth.net/d/uninstall?version=$(var.BuildVersion)</Property>
    <CustomAction Id="SetOpenURL" Property="WixShellExecTarget" Value="[dnoa.InstallURL]" />
    <CustomAction Id="SetUninstallURL" Property="WixShellExecTarget" Value="[dnoa.UninstallURL]" />
    <CustomAction Id="OpenURL" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />
    <CustomAction Id="OpenUninstallURL" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="SetOpenURL" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="SetUninstallURL" After="InstallFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="OpenURL" After="SetOpenURL">NOT Installed</Custom>
      <Custom Action="OpenUninstallURL" After="SetUninstallURL">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>
  
  </Fragment>
</Wix>