<?xml version="1.0" encoding="UTF-8"?>
<Wix  xmlns="http://schemas.microsoft.com/wix/2006/wi"
       xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
       xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
      >
  <Product Id="3b97d707-5a7a-4cdf-bab4-f8f1a93e5881" Name="$(var.ProductName)"
           Language="1033" Version="$(var.BuildVersion)"
           Manufacturer="$(var.ProductName)"
           UpgradeCode="55e69523-dfd5-4c5d-bbe2-3ca4d453f0b7">

    <Package InstallerVersion="200" Compressed="yes"
             Description="$(var.ProductName) Installer"
             Comments="This installer database contains the logic and data required to install the DotNetOpenAuth library setup."/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <PropertyRef Id="IISMAJORVERSION"/>
    <PropertyRef Id="IISMINORVERSION"/>
    <PropertyRef Id="VS90_ROOT_FOLDER" />
    <PropertyRef Id="VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
    <Property Id="ARPHELPLINK" Value="http://dotnetopenauth.net" />
    <Property Id="ARPURLINFOABOUT" Value="http://dotnetopenauth.net" />
    <Property Id="ALLUSERS">
      <![CDATA[1]]>
    </Property>
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <Icon Id="DotNetOpenAuthIcon.exe" SourceFile="$(var.DropDir)\bin\dnoa-icon-colour.ico"/>
    <Property Id="ARPPRODUCTICON" Value="DotNetOpenAuthIcon.exe" />
    <!-- Upgrade information used for major upgrades -->
    <Upgrade Id="55e69523-dfd5-4c5d-bbe2-3ca4d453f0b7">
      <UpgradeVersion Minimum="$(var.BuildVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.BuildVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <Condition Message="You must have Administrative rights on this machine to install [ProductName]. Setup will now exit.">
      <![CDATA[Privileged]]>
    </Condition>
    <!-- UI Customisation -->
    <CustomActionRef Id="VS90Setup" />
    <UI>
      <ProgressText Action="VS90Setup" Template="[1]">Updating Visual Studio 2008 registration (May take a while)</ProgressText>
    </UI>
    <!--  /** Version Control **/ -->
    <CustomAction Id="CA_BlockOlderVersionInstall" Error="A later version of [ProductName] is already installed. Setup will now exit." />
    <InstallExecuteSequence>
      <Custom Action="WixCloseApplications" Before="InstallValidate" />
      <Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
        <![CDATA[NEWERVERSIONDETECTED]]>
      </Custom>
      <RemoveExistingProducts After="InstallInitialize" />
      <LaunchConditions After="AppSearch"/>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
        <![CDATA[NEWERVERSIONDETECTED]]>
      </Custom>
    </InstallUISequence>

    <UIRef Id="WixUI_FeatureTree"/>
    <UIRef Id="WixUI_Common" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="../../license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/dlgbmp.bmp" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="DotNetOpenAuth">
          <Directory Id="LIBRARYFOLDER" Name="Bin">
            <Component Id="ProductComponent" Guid="47ef004e-517c-4ae3-96b0-7e41e94875cc">
              <File Id="DotNetOpenAuth.dll" Source="$(var.DropDir)\bin\DotNetOpenAuth.dll"></File>
              <File Id="DotNetOpenAuth.pdb" Source="$(var.DropDir)\bin\DotNetOpenAuth.pdb"></File>
              <File Id="DotNetOpenAuth.xml" Source="$(var.DropDir)\bin\DotNetOpenAuth.xml"></File>
              <File Id="DotNetOpenAuth.resources.dll" Source="$(var.DropDir)\bin\sr\DotNetOpenAuth.resources.dll"></File>
            </Component>
            
          </Directory>
			<Component Id="Documentation" Guid="f716a056-eb0c-4bc1-bd92-37b704befac9">
				<File Id="DotNetOpenAuth.chm" Source="$(var.DropDir)\DotNetOpenAuth.chm"></File>
            </Component>
			<Directory Id="TEMPLATESINSTALLFOLDER" Name="DotNetOpenAuth Project Templates">
            <Component Id="IntellisenseFile" Guid="{8943581F-D07B-49f4-AF09-23541F7EB2F7}">
              <util:XmlConfig
                 Id="Schemas_catalog"
                 File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                 Action="create"
                 On="install"
                 ElementPath="//SchemaCatalog"
                 Name="Association"
                 Node="element"
                 Sequence="1">
              </util:XmlConfig>
              <util:XmlConfig
                      Id="Schemas_catalog_2"
                      File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                      ElementPath="Schemas_catalog"
                      Name="extension"
                      Value="config"
                      Sequence="2">
              </util:XmlConfig>
              <util:XmlConfig
                      Id="Schemas_catalog_3"
                      File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                      ElementPath="Schemas_catalog"
                      Name="schema"
                      Value="[INSTALLLOCATION]bin\DotNetOpenAuth.xsd"
                      Sequence="2">
              </util:XmlConfig>
              <util:XmlConfig
                      Id="Schemas_catalog_4"
                      File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                      ElementPath="Schemas_catalog"
                      Name="condition"
                      Value="%TargetFrameworkVersion% != 2.0 and %TargetFrameworkVersion% != 3.0"
                      Sequence="2">
              </util:XmlConfig>
              <CreateFolder/>
            </Component>
            <Component Id="ProjectTemplates" Guid="{c6537664-e497-4983-bb27-54ff1210c0c2}">
              <File Id="VSI" Source="$(var.DropDir)/Project Templates/DotNetOpenAuth Starter Kits.vsi"></File>
            </Component>
          </Directory>
        </Directory>

        <Directory Id="VS90_ROOT_FOLDER" Name="Visual Studio 9.0">
          <Directory Id="Common7_2008" Name="Common7">
            <Directory Id="IDE_2008" Name="IDE">
              <Directory Id="ProjectTemplates_VS_2008" Name="ProjectTemplates">
                <Directory Id="CSharpProjectTemplates_VS_2008" Name="CSharp">
                  <Directory Id="DotNetOpenAuth_Starter_Kits" Name="DotNetOpenAuth"/>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>

      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DotNetOpenAuth"/>
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="1f67dced-97f2-4486-80c0-ef21e797fe0a">
        <Shortcut Id="ApplicationStartMenuShortcut"
                Name="Compiled Library"
                Description="OpenID, OAuth and InfoCard Library"
                Icon="DotNetOpenAuthIcon.exe"
                Target="explorer.exe "
                   Arguments="LIBRARYFOLDER"
                WorkingDirectory="WindowsFolder">
        </Shortcut>
        <Shortcut Id="ApplicationDocumentationShortcut"
                Name="Documentation"
                Description="OpenID, OAuth and InfoCard Library Documentation"
                Target="[INSTALLLOCATION]\DotNetOpenAuth.chm"
                WorkingDirectory="INSTALLLOCATION"
                  Icon="DotNetOpenAuthIcon.exe">
        </Shortcut>
        <util:InternetShortcut Id="OnlineDocumentationShortcut"
                      Name="Online Documentation"
                      Target="http://www.dotnetopenauth.net/"  Type="link">
		</util:InternetShortcut>
        <Shortcut Id="UninstallProduct"
          Name="Uninstall DotNetOpenAuth"
          Target="[System64Folder]msiexec.exe"
          Arguments="/x [ProductCode]"
          Description="Uninstalls DotNetOpenAuth"
                  Icon="DotNetOpenAuthIcon.exe"
                  />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\DotNetOpenAuth" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DotNetOpenAuth_Starter_Kits">
      <Component Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008" Guid="{70AE985D-706A-4C39-9417-20303DA605AC}" DiskId="1" Transitive="yes">
        <Condition>(VS90_ROOT_FOLDER AND VS90DEVENV AND VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED)</Condition>
        <File Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008" Name="DotNetOpenAuth_Starter_Kits.vsi" KeyPath="yes" Source="$(var.DropDir)/Project Templates/DotNetOpenAuth Starter Kits.vsi"/>
      </Component>
    </DirectoryRef>
    <CloseApplication xmlns="http://schemas.microsoft.com/wix/UtilExtension"
                      Id="CloseVisualStudio2008"
                      Description="Please close all open instances of Visual Studio 2008"
                      CloseMessage="yes"
                      ElevatedCloseMessage="no"
                      RebootPrompt="no"
                      Target="devenv.exe" Sequence="10"/>

    <!-- Installable Features -->
    <Feature Id="ProductFeature" Title="Assembly File Library" Level="1" ConfigurableDirectory="INSTALLLOCATION"
             Description="Installs the compiled library DLLs">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <Feature Id="DocumentationFeature" Title="Documentation" Level="1" ConfigurableDirectory="INSTALLLOCATION"
             Description="Installs the library documentation">
      <ComponentRef Id="Documentation" />
    </Feature>
    <Feature Id="IntegrationFeature" Title="Visual Studio 2008 Integration" Level="1" ConfigurableDirectory="INSTALLLOCATION"
             Description="Automagically installs the selected components into your Visual Studio environment">
      <Condition Level="0">NOT VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
      <Feature Id="IntegrationFeatureSubFeature1" Title="Config File Intellisense" Level="1"
               Description="Easy management of your .config files is made possible by this Intellisense file for DotNetOpenAuth">
        <ComponentRef Id="IntellisenseFile"/>
      </Feature>
      <Feature Id="IntegrationFeatureProjectTemplates" Title="Project Template" Level="1"
               Description="Take a shortcut to bringing OpenID, OAuth and InfoCards to your project by using this Project Template">
        <ComponentRef Id="ProjectTemplates"/>
        <ComponentRef Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008"/>
      </Feature>
    </Feature>
  </Product>
</Wix>
