<?xml version="1.0" encoding="UTF-8"?>
<Wix  xmlns="http://schemas.microsoft.com/wix/2006/wi"
       xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
       xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
      >
  <Product Id="3b97d707-5a7a-4cdf-bab4-f8f1a93e5881" Name="DotNetOpenAuth (OpenID, OAuth and iCard Library)" Language="1033" Version="3.4.0.0" Manufacturer="DotNetOpenAuth" UpgradeCode="55e69523-dfd5-4c5d-bbe2-3ca4d453f0b7">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="../../license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/dlgbmp.bmp" />
    <PropertyRef Id="IISMAJORVERSION"/>
    <PropertyRef Id="IISMINORVERSION"/>

    <!-- Visual Studio 2008 folder properties and custom actions -->
    <PropertyRef Id="VS90_ROOT_FOLDER" />
    <PropertyRef Id="VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
    <PropertyRef Id="VS90_IDE_VB_PROJECTSYSTEM_INSTALLED" />

    <CustomActionRef Id="VS90Setup" />
    <CustomActionRef Id="VCSHARP90Setup" />
    <CustomActionRef Id="VB90Setup" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="DotNetOpenAuth">
          <Directory Id="LibraryFolder" Name="Bin">
            <Component Id="ProductComponent" Guid="47ef004e-517c-4ae3-96b0-7e41e94875cc">
              <File Id="DotNetOpenAuth.dll" Source="../../bin/$(var.configuration)/DotNetOpenAuth.dll"></File>
              <File Id="DotNetOpenAuth.pdb" Source="../../bin/$(var.configuration)/DotNetOpenAuth.pdb"></File>
              <File Id="DotNetOpenAuth.xml" Source="../../bin/$(var.configuration)/DotNetOpenAuth.xml"></File>
              <File Id="DotNetOpenAuth.resources.dll" Source="../../bin/$(var.configuration)/sr/DotNetOpenAuth.resources.dll"></File>
            </Component>
            <Component Id="Documentation" Guid="f716a056-eb0c-4bc1-bd92-37b704befac9">
              <File Id="DotNetOpenAuth.chm" Source="../../doc/DotNetOpenAuth.chm"></File>
            </Component>
          </Directory>
          <Directory Id="WEBAPPLICATIONINSTALLFOLDER" Name="DotNetOpenAuth Samples">
            <Component Id="DNOA_SamplesComponent" Guid="80b0ee2a-a102-46ec-a456-33a23eb0588e">
              <Condition>IISMAJORVERSION = "#5"</Condition>
              <File Id="Default.aspx" Name="Default.aspx" Source="..\..\Samples\DotNetOpenAuth.Samples\Default.aspx" DiskId="1" />
              <File Id="Default.aspx.cs" Name="Default.aspx.cs" Source="..\..\Samples\DotNetOpenAuth.Samples\Default.aspx.cs" DiskId="1"/>
              <iis:WebVirtualDir Id="MyWebApp" Alias="DNOA_Samples" Directory="WEBAPPLICATIONINSTALLFOLDER" WebSite="DefaultWebSite" DirProperties="WebVirtualDirProperties">
                <iis:WebApplication Id="DNOA_Samples_Application" Name="DNOA_Samples_Application" WebAppPool="DNOA_Samples_AppPool"/>
              </iis:WebVirtualDir>
            </Component>
            <Component Id='DNOA_AppPool' Guid='3C06911D-C31A-427E-8CA6-AEFC65161B1A'>
              <iis:WebAppPool Id='DNOA_Samples_AppPool' Name='DNOA Samples App Pool'>
              </iis:WebAppPool>
              <CreateFolder/>
            </Component>
            <Component DiskId="1" Id="DNOA_IIS7SamplesComponent" Guid="3ef975d3-4bf0-4eb4-9526-3ca066af717e">
              <Condition>IISMAJORVERSION = "#7"</Condition>
              <iis:WebSite Id="IISSite5" Description="DotNetOpenAuth Samples Web" Directory="WEBAPPLICATIONINSTALLFOLDER">
                <iis:WebAddress Id="IISSiteAddress5" Port="80"/>
              </iis:WebSite>
              <CreateFolder/>
            </Component>
            <Component Id="WebserviceRestart" Guid="{19B3144E-A9DE-47e0-A2DB-C16A7E3F4F14}" KeyPath="yes">
              <ServiceControl Id="StopWeb1" Name="W3SVC" Stop="install">
              </ServiceControl>
              <ServiceControl Id="StartWeb1" Name="W3SVC" Start="install">
              </ServiceControl>
            </Component>
          </Directory>
          <Directory Id="TEMPLATESINSTALLFOLDER" Name="DotNetOpenAuth Project Templates">
            <Component Id="IntellisenseFile" Guid="{8943581F-D07B-49f4-AF09-23541F7EB2F7}">
              <util:XmlFile Id='ModifyServiceEndPoint' Action='setValue'
                 ElementPath='/configuration/system.serviceModel/client/endpoint[\[]@name="S113"[\]]'
                 Name='address' File='[TARGETDIR]web.config' Value='http://[SERVICEENDPOINT]:8113/MyService/Service' />
            </Component>
            <Component Id="ProjectTemplates" Guid="{c6537664-e497-4983-bb27-54ff1210c0c2}">
              <File Id="VSI" Source="../../drops/Project Templates/DotNetOpenAuth Starter Kits.vsi"></File>
            </Component>
          </Directory>
        </Directory>

        <Directory Id="VS90_ROOT_FOLDER" Name="Visual Studio 9.0">
          <Directory Id="Common7_2008" Name="Common7">
            <Directory Id="IDE_2008" Name="IDE">
              <Directory Id="ProjectTemplates_VS_2008" Name="ProjectTemplates">
                <Directory Id="CSharpProjectTemplates_VS_2008" Name="CSharp">
                  <Directory Id="DotNetOpenAuth_Starter_Kits" Name="DotNetOpenAuth"/>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>

      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DotNetOpenAuth"/>
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="1f67dced-97f2-4486-80c0-ef21e797fe0a">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="DotNetOpenAuth (Directory)"
                  Description="OpenID, OAuth and iCard Library"
                  Target="[APPLICATIONROOTDIRECTORY]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <util:InternetShortcut Id="OnlineDocumentationShortcut"
                        Name="DotNetOpenAuth Online Documentation"
                               Target="http://www.dotnetopenauth.net/"/>
        <Shortcut Id="UninstallProduct"
          Name="Uninstall DotNetOpenAuth"
          Target="[System64Folder]msiexec.exe"
          Arguments="/x [ProductCode]"
          Description="Uninstalls DotNetOpenAuth" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\DotNetOpenAuth" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    
    <!-- Visual Studio VSI Installation -->
    
    <!-- VS 2008 -->
    <DirectoryRef Id="DotNetOpenAuth_Starter_Kits">
      <Component Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008" Guid="{70AE985D-706A-4C39-9417-20303DA605AC}" DiskId="1" Transitive="yes">
        <Condition>(VS90_ROOT_FOLDER AND VS90DEVENV AND VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED)</Condition>
        <File Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008" Name="DotNetOpenAuth_Starter_Kits.vsi" KeyPath="yes" Source="../../drops/Project Templates/DotNetOpenAuth Starter Kits.vsi"/>
      </Component>
    </DirectoryRef>
    
    
    <!-- UI Aspects -->
    
    
    <UIRef Id="WixUI_Common" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <UIRef Id="WixUI_Mondo"/>

    <iis:WebDirProperties Id='WebVirtualDirProperties' Execute='yes' Script='yes' Read='yes' WindowsAuthentication='no' AnonymousAccess='yes'
                          IIsControlledPassword='yes'/>

    <iis:WebSite Id='DefaultWebSite' Description='Default Web Site'>
      <iis:WebAddress Id='AllUnassigned' Port='80' />
    </iis:WebSite>

    <Feature Id="ProductFeature" Title="DotNetOpenAuth Library" Level="1" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <Feature Id="DocumentationFeature" Title="DotNetOpenAuth Documentation" Level="1" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id="Documentation" />
    </Feature>
    <Feature Id="SamplesFeature" Title="DotNetOpenAuth Sample Websites" Level="1" ConfigurableDirectory="WEBAPPLICATIONINSTALLFOLDER">
      <ComponentRef Id="DNOA_SamplesComponent" />
      <ComponentRef Id="DNOA_IIS7SamplesComponent" />
      <ComponentRef Id="DNOA_AppPool" />
      <ComponentRef Id="WebserviceRestart" />
    </Feature>
    <Feature Id="IntegrationFeature" Title="Visual Studio 2008 Integration" Level="1" ConfigurableDirectory="INSTALLLOCATION">
      <Feature Id="IntegrationFeatureSubFeature1" Title="Config File Intellisense" Level="1" >
        <ComponentRef Id="IntellisenseFile"/>
      </Feature>
      <Feature Id="IntegrationFeatureProjectTemplates" Title="Project Template" Level="1" >
        <ComponentRef Id="ProjectTemplates"/>
        <ComponentRef Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008"/>
      </Feature>
    </Feature>

    <Property Id="ALLUSERS">
      <![CDATA[1]]>
    </Property>

  </Product>
</Wix>
