<?xml version="1.0" encoding="UTF-8"?>
<Wix  xmlns="http://schemas.microsoft.com/wix/2006/wi"
       xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
       xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
      >
  <Product Id="3b97d707-5a7a-4cdf-bab4-f8f1a93e5881" Name="$(var.ProductName)"
           Language="1033" Version="$(var.BuildVersion)"
           Manufacturer="$(var.ProductName)"
           UpgradeCode="55e69523-dfd5-4c5d-bbe2-3ca4d453f0b7">

    <Package InstallerVersion="200" Compressed="yes"
             Description="$(var.ProductName) Installer"
             Comments="This installer database contains the logic and data required to install the DotNetOpenAuth library setup."/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <PropertyRef Id="IISMAJORVERSION"/>
    <PropertyRef Id="IISMINORVERSION"/>
    <PropertyRef Id="VS90_ROOT_FOLDER" />
    <PropertyRef Id="VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
    <Property Id="ARPHELPLINK" Value="http://dotnetopenauth.net" />
    <Property Id="ARPURLINFOABOUT" Value="http://dotnetopenauth.net" />
    <Property Id="ALLUSERS">
      <![CDATA[1]]>
    </Property>
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />

    <!-- Upgrade information used for major upgrades -->
    <Upgrade Id="55e69523-dfd5-4c5d-bbe2-3ca4d453f0b7">
      <UpgradeVersion Minimum="$(var.BuildVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.BuildVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <Condition Message="You must have Administrative rights on this machine to install [ProductName]. Setup will now exit.">
      <![CDATA[Privileged]]>
    </Condition>
    <!-- UI Customisation -->
    <CustomActionRef Id="VS90Setup" />
    <UI>
      <ProgressText Action="VS90Setup" Template="[1]">Updating Visual Studio 2008 registration (May take a while)</ProgressText>
    </UI>
    <!--  /** Version Control **/ -->
    <CustomAction Id="CA_BlockOlderVersionInstall" Error="A later version of [ProductName] is already installed. Setup will now exit." />
    <InstallExecuteSequence>
      <Custom Action="WixCloseApplications" Before="InstallValidate" />
      <Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
        <![CDATA[NEWERVERSIONDETECTED]]>
      </Custom>
      <RemoveExistingProducts After="InstallInitialize" />
      <LaunchConditions After="AppSearch"/>
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
        <![CDATA[NEWERVERSIONDETECTED]]>
      </Custom>
    </InstallUISequence>
    <CloseApplication xmlns="http://schemas.microsoft.com/wix/UtilExtension" 
                      Id="CloseVisualStudio2008" 
                      Description="Please close all open instances of Visual Studio 2008" 
                      CloseMessage="yes" 
                      ElevatedCloseMessage="no"
                      RebootPrompt="no"
                      Target="devenv.exe" Sequence="10"/>
    <!--
    <UIRef Id="WixUI_Mondo"/> 
 -->
    <UIRef Id="WixUI_FeatureTree"/>
    <UIRef Id="WixUI_Common" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="../../license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/dlgbmp.bmp" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="DotNetOpenAuth">
          <Directory Id="LibraryFolder" Name="Bin">
            <Component Id="ProductComponent" Guid="47ef004e-517c-4ae3-96b0-7e41e94875cc">
              <File Id="DotNetOpenAuth.dll" Source="$(var.DropDir)\bin\DotNetOpenAuth.dll"></File>
              <File Id="DotNetOpenAuth.pdb" Source="$(var.DropDir)\bin\DotNetOpenAuth.pdb"></File>
              <File Id="DotNetOpenAuth.xml" Source="$(var.DropDir)\bin\DotNetOpenAuth.xml"></File>
              <File Id="DotNetOpenAuth.resources.dll" Source="$(var.DropDir)\bin\sr\DotNetOpenAuth.resources.dll"></File>
            </Component>
            <Component Id="Documentation" Guid="f716a056-eb0c-4bc1-bd92-37b704befac9">
              <File Id="DotNetOpenAuth.chm" Source="$(var.DropDir)\DotNetOpenAuth.chm"></File>
            </Component>
          </Directory>
          <Directory Id="WEBAPPLICATIONINSTALLFOLDER" Name="DotNetOpenAuth Samples">
            <Component Id="DNOA_SamplesComponent" Guid="80b0ee2a-a102-46ec-a456-33a23eb0588e">
              <Condition>IISMAJORVERSION = "#5"</Condition>
              <File Id="Default.aspx" Name="Default.aspx" Source="$(var.DropDir)\Samples\DotNetOpenAuth.Samples\Default.aspx" DiskId="1" />
              <File Id="Default.aspx.cs" Name="Default.aspx.cs" Source="$(var.DropDir)\Samples\DotNetOpenAuth.Samples\Default.aspx.cs" DiskId="1"/>
              <iis:WebVirtualDir Id="MyWebApp" Alias="DotNetOpenAuth" Directory="WEBAPPLICATIONINSTALLFOLDER" WebSite="DefaultWebSite" DirProperties="WebVirtualDirProperties">
                <iis:WebApplication Id="DNOA_Samples_Application" Name="DNOA_Samples_Application" WebAppPool="DNOA_Samples_AppPool"/>
              </iis:WebVirtualDir>
            </Component>
            <Component Id='DNOA_AppPool' Guid='3C06911D-C31A-427E-8CA6-AEFC65161B1A'>
              <iis:WebAppPool Id='DNOA_Samples_AppPool' Name='DNOA Samples App Pool'>
              </iis:WebAppPool>
              <CreateFolder/>
            </Component>
            <Component DiskId="1" Id="DNOA_IIS7SamplesComponent" Guid="3ef975d3-4bf0-4eb4-9526-3ca066af717e">
              <Condition>IISMAJORVERSION = "#7"</Condition>
              <iis:WebSite Id="IISSite7" Description="DotNetOpenAuth Samples Web" Directory="WEBAPPLICATIONINSTALLFOLDER">
                <iis:WebAddress Id="IISSiteAddress5" Port="8989"/>
              </iis:WebSite>
              <CreateFolder/>
            </Component>
            <!--Component Id="WebserviceRestart" Guid="{19B3144E-A9DE-47e0-A2DB-C16A7E3F4F14}" KeyPath="yes">
              <ServiceControl Id="StopWeb1" Name="W3SVC" Stop="install">
              </ServiceControl>
              <ServiceControl Id="StartWeb1" Name="W3SVC" Start="install">
              </ServiceControl>
            </Component-->
          </Directory>
          <Directory Id="TEMPLATESINSTALLFOLDER" Name="DotNetOpenAuth Project Templates">
            <Component Id="IntellisenseFile" Guid="{8943581F-D07B-49f4-AF09-23541F7EB2F7}">
              <util:XmlConfig
                 Id="Schemas_catalog"
                 File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                 Action="create"
                 On="install"
                 ElementPath="//SchemaCatalog"
                 Name="Association"
                 Node="element"
                 Sequence="1">
              </util:XmlConfig>
              <util:XmlConfig
                      Id="Schemas_catalog_2"
                      File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                      ElementPath="Schemas_catalog"
                      Name="extension"
                      Value="config"
                      Sequence="2">
              </util:XmlConfig>
              <util:XmlConfig
                      Id="Schemas_catalog_3"
                      File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                      ElementPath="Schemas_catalog"
                      Name="schema"
                      Value="[INSTALLLOCATION]bin\DotNetOpenAuth.xsd"
                      Sequence="2">
              </util:XmlConfig>
              <util:XmlConfig
                      Id="Schemas_catalog_4"
                      File="[VS90_ROOT_FOLDER]\Xml\Schemas\catalog.xml"
                      ElementPath="Schemas_catalog"
                      Name="condition"
                      Value="%TargetFrameworkVersion% != 2.0 and %TargetFrameworkVersion% != 3.0"
                      Sequence="2">
              </util:XmlConfig>
              <CreateFolder/>
            </Component>
            <Component Id="ProjectTemplates" Guid="{c6537664-e497-4983-bb27-54ff1210c0c2}">
              <File Id="VSI" Source="$(var.DropDir)/Project Templates/DotNetOpenAuth Starter Kits.vsi"></File>
            </Component>
          </Directory>
        </Directory>

        <Directory Id="VS90_ROOT_FOLDER" Name="Visual Studio 9.0">
          <Directory Id="Common7_2008" Name="Common7">
            <Directory Id="IDE_2008" Name="IDE">
              <Directory Id="ProjectTemplates_VS_2008" Name="ProjectTemplates">
                <Directory Id="CSharpProjectTemplates_VS_2008" Name="CSharp">
                  <Directory Id="DotNetOpenAuth_Starter_Kits" Name="DotNetOpenAuth"/>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>

      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DotNetOpenAuth"/>
      </Directory>
    </Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="1f67dced-97f2-4486-80c0-ef21e797fe0a">
        <Shortcut Id="ApplicationStartMenuShortcut"
                Name="DotNetOpenAuth (Directory)"
                Description="OpenID, OAuth and InfoCard Library"
                Target="[APPLICATIONROOTDIRECTORY]"
                WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <Shortcut Id="ApplicationDocumentationShortcut"
                Name="DotNetOpenAuth Documentation"
                Description="OpenID, OAuth and InfoCard Library Documentation"
                Target="[APPLICATIONROOTDIRECTORY]\DotNetOpenAuth.chm"
                WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <util:InternetShortcut Id="OnlineDocumentationShortcut"
                      Name="DotNetOpenAuth Online Documentation"
                      Target="http://www.dotnetopenauth.net/"/>
        <Shortcut Id="UninstallProduct"
          Name="Uninstall DotNetOpenAuth"
          Target="[System64Folder]msiexec.exe"
          Arguments="/x [ProductCode]"
          Description="Uninstalls DotNetOpenAuth" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\DotNetOpenAuth" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="SamplesShortcut_IIS5" Guid="c2924c30-70cc-4031-b79c-82f2a2917f32">
        <Condition>IISMAJORVERSION = "#5"</Condition>
        <util:InternetShortcut Id="SamplesShortcut_5"
                      Name="DotNetOpenAuth Samples"
                      Target="http://localhost/DotNetOpenAuth"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\DotNetOpenAuth" Name="samplelinkInstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="SamplesShortcut_IIS7" Guid="9c167eb6-0b98-4536-a796-6c4213582867">
        <Condition>IISMAJORVERSION = "#7"</Condition>
        <util:InternetShortcut Id="SamplesShortcut_7"
                      Name="DotNetOpenAuth Samples"
                      Target="http://localhost:8989/"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\DotNetOpenAuth" Name="samplelinkInstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DotNetOpenAuth_Starter_Kits">
      <Component Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008" Guid="{70AE985D-706A-4C39-9417-20303DA605AC}" DiskId="1" Transitive="yes">
        <Condition>(VS90_ROOT_FOLDER AND VS90DEVENV AND VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED)</Condition>
        <File Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008" Name="DotNetOpenAuth_Starter_Kits.vsi" KeyPath="yes" Source="$(var.DropDir)/Project Templates/DotNetOpenAuth Starter Kits.vsi"/>
      </Component>
    </DirectoryRef>

    <iis:WebDirProperties Id='WebVirtualDirProperties' Execute='yes' Script='yes' Read='yes' WindowsAuthentication='no' AnonymousAccess='yes'
                          IIsControlledPassword='yes'/>
    <iis:WebSite Id='DefaultWebSite' Description='Default Web Site'>
      <iis:WebAddress Id='AllUnassigned' Port='80' />
    </iis:WebSite>

    <!-- Installable Features -->
    <Feature Id="ProductFeature" Title="Assembly File Library" Level="1" ConfigurableDirectory="INSTALLLOCATION"
             Description="Installs the compiled library DLLs">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <Feature Id="DocumentationFeature" Title="Documentation" Level="1" ConfigurableDirectory="INSTALLLOCATION"
             Description="Installs the library documentation">
      <ComponentRef Id="Documentation" />
    </Feature>
    <Feature Id="SamplesFeature" Title="Sample Websites (IIS5)"
             Description="Creates a virtual directory called DotNetOpenAuth under your Default Web site and can be access at http://localhost/DotNetOpenAuth"
             Level="1" ConfigurableDirectory="WEBAPPLICATIONINSTALLFOLDER">
      <Condition Level="0">NOT IISMAJORVERSION = "#5"</Condition>
      <ComponentRef Id="DNOA_SamplesComponent" />
      <ComponentRef Id="DNOA_AppPool" />
      <ComponentRef Id="SamplesShortcut_IIS5" />
    </Feature>
    <Feature Id="IIS7SamplesFeature" Title="Sample Websites (IIS7)"
             Description="Creates a new web site called 'DotNetOpenAuth Samples Web' which can be accessed at http://localhost:8989/"
             Level="1" ConfigurableDirectory="WEBAPPLICATIONINSTALLFOLDER">
      <Condition Level="0">NOT IISMAJORVERSION = "#7"</Condition>
      <ComponentRef Id="DNOA_IIS7SamplesComponent" />
      <ComponentRef Id="DNOA_AppPool" />
      <ComponentRef Id="SamplesShortcut_IIS7" />
    </Feature>
    <Feature Id="IntegrationFeature" Title="Visual Studio 2008 Integration" Level="1" ConfigurableDirectory="INSTALLLOCATION"
             Description="Automagically installs the selected components into your Visual Studio environment">
      <Condition Level="0">NOT VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
      <Feature Id="IntegrationFeatureSubFeature1" Title="Config File Intellisense" Level="1"
               Description="Easy management of your .config files is made possible by this Intellisense file for DotNetOpenAuth">
        <ComponentRef Id="IntellisenseFile"/>
      </Feature>
      <Feature Id="IntegrationFeatureProjectTemplates" Title="Project Template" Level="1"
               Description="Take a shortcut to bringing OpenID, OAuth and InfoCards to your project by using this Project Template">
        <ComponentRef Id="ProjectTemplates"/>
        <ComponentRef Id="DotNetOpenAuth_Starter_Kits.zip_VS_2008"/>
      </Feature>
    </Feature>
  </Product>
</Wix>
