@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Claims</h1>
    <p><a href="@Url.Action("Claims")" class="btn btn-default">View</a> claims obtained using OpenID Connect</p>
</div>
