body
{
	font-family: Verdana;
	font-size: 10pt;
	background-color: White;
	margin: 10px;
}
/*
body > div.wrapper
{
	width: 355px;
	height: 235px;
}
*/
#openid_identifier
{
	width: 298px;
}

#OpenIDForm
{
	text-align: center;
}

#openid_login_button
{
}

Div#NotMyComputerDiv
{
	display: none;
}

.helpDoc
{
	font-size: 80%;
}