bin
Bin
obj
TestResults
TestResult.xml
drops
*.VisualState.xml
StyleCop.Cache
*.LDF
*~
PrecompiledWeb
*.suo
*.log
*.cache
*.user
*.tmp
*.ldf
*.mdf
*.swx
.dotest
*.Publish.xml
*.dbproj.schemaview
_ReSharper*
*.vs10x
*.docstates
UpgradeLog*.htm
/src/packages
