<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation>
      <assemblies>
	<add assembly="Boo.Lang" />
	<add assembly="Janrain" />
	<add assembly="Janrain.OpenId.Consumer.Asp" />
      </assemblies>
    </compilation>
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <authentication mode="Forms">
      <forms name="OpenIdExampleConsumer" 
             loginUrl="/login.aspx" requireSSL="true" />
    </authentication>
    <httpModules>
      <add name="OIDMod"
	   type="Janrain.OpenId.Consumer.Asp.ConsumerHttpModule, Janrain.OpenId.Consumer.Asp" />
    </httpModules>
  </system.web>
  <location path="process.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="MonoServerDefaultIndexFiles" value="index.aspx" />
  </appSettings>
</configuration>

