<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation>
      <assemblies>
	<add assembly="Boo.Lang" />
	<add assembly="Janrain" />
	<add assembly="Janrain.OpenId.Server.Asp" />
      </assemblies>
    </compilation>
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <authentication mode="Forms">
      <forms name="OpenIdExampleServer" 
             loginUrl="/login.aspx" requireSSL="true">
        <credentials passwordFormat="Clear">
          <user name="user1" password="test" />
        </credentials>
      </forms>
    </authentication>
    <httpModules>
      <add name="ServerHttpModule"
	   type="Janrain.OpenId.Server.Asp.ServerHttpModule, Janrain.OpenId.Server.Asp" />
    </httpModules>
    <sessionState mode="InProc" cookieless="false" />
  </system.web>
  <location path="index.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="user.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="xrds.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="server.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="MonoServerDefaultIndexFiles" value="index.aspx" />
  </appSettings>
</configuration>

