h2
{
	font-style: italic;
}

body
{
	font-family: Cambria, Arial, Times New Roman;
	font-size: 12pt;
}

.command
{
	font-family: "Courier New", Courier, monospace;
}

input.openid
{
	background-image: url(images/openid_login.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 15px;
}
