<?xml version='1.0'?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.

    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.

    You must not remove this notice, or any other, from this software.

    file.wxs - small example that installs a single file.
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
   <Product Id='????????-????-????-????-????????????' Name='WixFileExample' Language='1033' Version='0.0.0.0' Manufacturer='Microsoft Corporation'>
      <Package Id='????????-????-????-????-????????????' Description='Installs a file.' Comments='Tests installation of a single file.' InstallerVersion='200' Compressed='yes' />

      <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='WixExampleProductFolder' Name='WixExample' LongName='Test Directory'>
               <Component Id='WixExampleFileComponent' Guid='PUT-GUID-HERE' DiskId='1'>
                  <File Id='WixExampleFile' Name='simple.txt' src='bin\simple.txt' />
               </Component>
            </Directory>
         </Directory>
      </Directory>

      <Feature Id='TestFileProductFeature' Title='Wix File Product Feature' Level='1'>
         <ComponentRef Id='WixExampleFileComponent' />
      </Feature>
   </Product>
</Wix>
