<?xml version='1.0'?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.

    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.

    You must not remove this notice, or any other, from this software.

    shortcut.wxs - small example that installs a single file, with a shortcut in the start menu for it.
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
   <Product Id='????????-????-????-????-????????????' Name='WixShortcutProduct' Language='1033' Version='0.0.0.0' Manufacturer='Microsoft Corporation'>
      <Package Id='????????-????-????-????-????????????' Description='Installs a test shortcut.' Comments='Tests installation of a shortcut.' InstallerVersion='200' Compressed='yes' />

      <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='WixShortcutProductDirectory' Name='WixShortcutDirectory' LongName='Test Directory'>
               <Component Id='WixShortcutProductComponent' Guid='PUT-GUID-HERE' DiskId='1'>
                  <File Id='WixShortcutProductFile' Name='simple.txt' src='bin\simple.txt'>
                     <Shortcut Id='WixShortcutProductShortcut' Directory='ProgramMenuFolder' Name='WixSC' LongName='Test Shortcut' Description='Shortcut to simple.txt' Advertise='yes'/>
                  </File>
               </Component>
            </Directory>
         </Directory>
         <Directory Id='ProgramMenuFolder' Name='ProgMenu'/>
      </Directory>

      <Feature Id='WixShortcutProductFeature' Title='Wix Example Shortcut' Level='1'>
         <ComponentRef Id='WixShortcutProductComponent' />
      </Feature>
   </Product>
</Wix>
