<cruisecontrol>
	<project name="dotnetopenid-8">
		<workingDirectory>c:\git\dotnetopenid</workingDirectory>
		<sourcecontrol type="external">
			<executable>c:\git\dotnetopenid\tools\ccbootstrap.cmd</executable>
			<args>c:\git\dotnetopenid ci</args>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>
		<triggers>
			<intervalTrigger name="rolling" seconds="60" />
		</triggers>
		<prebuild>
<!--			<exec>
				<executable>C:\Program Files\git\bin\git.exe</executable>
				<baseDirectory>c:\git\dotnetopenid</baseDirectory>
				<buildArgs>pull</buildArgs>
			</exec>-->
		</prebuild>
		<tasks>
			<msbuild>
				<executable>c:\windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<workingDirectory>c:\git\dotnetopenid</workingDirectory>
				<projectFile>c:\git\dotnetopenid\build.proj</projectFile>
				<buildArgs>/noconsolelogger</buildArgs>
				<targets>nightly</targets>
				<timeout>900</timeout>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
			</msbuild>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>c:\git\dotnetopenid\bin\debug\test-results.xml</file>
				</files>
			</merge>
			<xmllogger />
			<statistics />
			<!--<modificationHistory onlyLogWhenChangesFound="true" />-->
		</publishers>
	</project>
</cruisecontrol>