<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authorization>
			<!-- This means access to ALL pages requires authentication. Pages can be given explicit authentication further below. -->
			<deny users="?"/>
		</authorization>
		<authentication mode="Forms">
			<forms name="OpenIdExampleConsumer" loginUrl="login.aspx"/>
		</authentication>
		<customErrors mode="Off">
		</customErrors>
	</system.web>
	<location path="login.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
