<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true">
        </compilation>
        <authorization>
            <!-- This means access to ALL pages requires authentication. Pages can be given explicit authentication further below. -->
            <deny users="?"/>
        </authorization>
        <authentication mode="Forms">
            <forms name="OpenIdExampleConsumer" loginUrl="login.aspx"/>
        </authentication>
        <customErrors mode="Off">
        </customErrors>
    </system.web>
    <location path="login.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
 
    <system.diagnostics>
        <switches>
            <add name="OpenID" value="4" />
            <!-- If OpenIDEntireResponse >= 2 then the entire page output will be traced -->
            <add name="OpenIDEntireResponse" value="1" />
        </switches>

        <trace  autoflush="true"  indentsize="8" >
            <listeners>
                <add name="foo"   type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\windows\temp\openidConsumerTrace.txt"/>
            </listeners>
        </trace>
    </system.diagnostics>

</configuration>
